.pet {
  float:left;
  padding-right:5px;
  height:55px;
  overflow:hidden;
  text-align:center;
  color:#000;
  font:11px Arial;
  border-top:1px solid #999;
  }

.pet:hover {
  background-color:#ccc;
  }

.pet img {
  margin-top:0px;z-index:0;
  }

.pet a {
  color:#1497ca;
  text-decoration:none;
  }

.pet a:visited {
  color:#000;
  font:11px Arial;
  }

.letter h2 {
  font:15px Tahoma;
  margin:2px auto 0px;
  padding:0px;
  background-color:#eee;
  text-align:center;
}

.letter {
  float:left;
  width:100%;
}
